
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat';
}


body{
    font-family: 'Montserrat';
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* height: 300vh; */
    /* background-color: #2C383F; */
    background: #1b2327;

}

header{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 100%;
    padding: 2rem 5%;
    /* padding: 50px 120px 40px; */
    justify-content: space-between; 
    align-items: center;
}


header #myLogo{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 90px;   
    transition: 0.5s ease;
    align-items: center;
}   


.header-buttons button{
    position: relative;
    right: 5%;
    font-family: 'Montserrat';
    margin-left: 20px;
    color: white;
    padding: 5px;
    font-size: 20px;
    background: none;
    border: none;
    transition: 0.3s ease;
}



.header-buttons button:hover,
.header-buttons button:active{
    cursor: pointer;
    color: wheat;
    border-bottom: 2px solid wheat; 
}



.navbar li{
    margin-left: 30px;
}

.container1{
    position: relative;
    display: block;
    height: 70%;  
    padding: 120px 80px 120px;
    margin: 20px 100px 0px;
    border: 0px;
    border-radius: 20px;
    /* background: #1b2327; */
    background: #2C383F;
}

.container1 h1{
    position: relative;
    font-size: 75px;
}

.container1 p{
    position: relative;
    font-size: 30px;
    margin: 15px 5px;
    width: 35%;
}

.container1 img{
    position: absolute;
    bottom: 1px;
    right: 1px;
    height: 550px;
}


.container2{
   text-align: center;
   border: black solid;
   height: 600px;
   border-radius: 20px;
   margin-left: 100px;
   margin-right: 100px;
   padding: 30px;
}

.container2 legend{
    font-size: 50px;
}

.container2 img{
    margin: 20px;
    height: 120px;
}

.about-container{
    position: relative;
    width: 89%;
    padding: 10px 50px 25px; 
    margin: 20px 100px;
    border-radius: 20px;
    /* background: #1b2327; */
}

.about-container legend{
    font-size: 40px;
}

.orgs-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 25px 100px;
    padding: 40px;
    border-radius: 20px;
    background: #2C383F;
    /* background: #1b2327; */
}

#tgs-container {
    display: flex;
    flex-direction: row;
}

#tgs-container img{
    position: relative;
    height: 120px;
}

#tgs-text {
    position: relative;
    top: 30px;
}


#icssc-container {
    display: flex;
    flex-direction: row;
    margin: 0px 40px;
}

#icssc-container img{
    position: relative;
    height: 70px;
    right: 15px;
}

#icssc-text {
    position: relative;
    left: 5px;
}


.work-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 100%;
    margin: 25px 100px;
    padding: 40px;

    /* background: #1b2327; */
}

#alorica-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 100px;
    border-radius: 20px;
    background: #2C383F;
    padding: 20px;
}

#alorica-container img{
    position: relative;
    display: flex;
    height: 100px;
}

#alorica-text{
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
}

#amz-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 20px;
    background: #2C383F;
}

#amz-container img{
    position: relative;
    display: flex;
    height: 50px;
    top: 10px;
}

#amz-text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    align-items: center;
}




.container3{
    text-align: center;
    border: black solid;
    height: 280px;
    border-radius: 20px;
    margin: 100px;
    padding: 30px;
 }

 .container3 legend{
    font-size: 50px;
}

.container3 img{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    height: 120px;
}


hr.solid{
    border-top: 2px solid rgb(39, 39, 39);
  }

.footer{
    padding: 25px 120px 50px;
    height: 300px;
    margin-top: 50px;
}



.footer img{
    position: absolute;
    height: 90px;
}

.footer #socials-logo{
    position: relative;
    flex-direction: row;
    top: 40px;
    height: 40%;
    margin: 10px 5px;
}

#socials-logo:hover{
    cursor: pointer;
}



/* @media (max-width: 1775px){
    header h1{
        position: relative;
        right: 15%;
    }
}


@media (max-width: 1600px){
    header h1{
        position: relative;
        right: 13%;
    }
} */